.frame-icon8,
.frame-icon9,
.frame42 {
  position: absolute;
  top: 0;
  height: 1239px;
  overflow: hidden;
}
.frame-icon8 {
  left: 5px;
  width: 1881px;
  object-fit: cover;
}
.frame-icon9,
.frame42 {
  left: -13px;
  width: 1886px;
}
.frame-icon9 {
  width: 1894px;
  height: 128px;
}
.openart-image-btrzgzrg-1722126-icon,
.openart-image-dr96t8b6-1722126-icon {
  position: absolute;
  top: 0;
  left: 770px;
  width: 489px;
  height: 489px;
  object-fit: cover;
}
.openart-image-btrzgzrg-1722126-icon {
  left: 115px;
  width: 354px;
  height: 354px;
}
.frame-icon10,
.frame43,
.frame45 {
  position: absolute;
  top: 17px;
  left: 0;
  width: 469px;
  height: 354px;
  overflow: hidden;
}
.frame-icon10,
.frame43 {
  top: 2014px;
  left: -13px;
  width: 1259px;
  height: 489px;
}
.frame-icon10 {
  top: 95px;
  left: 0;
  width: 1886px;
  height: 604px;
}
.openart-image-a2jt-m0f-1722126-icon {
  position: absolute;
  top: 0;
  left: 115px;
  width: 676px;
  height: 700px;
  object-fit: cover;
}
.frame47 {
  position: absolute;
  top: 203px;
  left: 0;
  width: 791px;
  height: 700px;
  overflow: hidden;
}
.openart-image-wfs-vz-1722126-icon {
  position: absolute;
  top: 0;
  left: 680px;
  width: 353px;
  height: 353px;
  object-fit: cover;
}
.frame48 {
  position: absolute;
  top: 43px;
  left: 0;
  width: 1033px;
  height: 353px;
  overflow: hidden;
}
.openart-image-dpgkiwpr-1722125-icon {
  position: absolute;
  top: 0;
  left: 1152px;
  width: 729px;
  height: 729px;
  object-fit: cover;
}
.frame46,
.frame49 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1881px;
  height: 729px;
  overflow: hidden;
}
.frame46 {
  top: 591px;
  left: -13px;
  width: 1886px;
  height: 903px;
}
.frame-child10,
.frame51,
.frame52 {
  position: absolute;
  top: 0;
  height: 1715px;
}
.frame-child10 {
  left: 8px;
  background-color: var(--color-gray-200);
  width: 1879px;
}
.frame51,
.frame52 {
  left: 6px;
  width: 1880px;
  overflow: hidden;
}
.frame51 {
  top: 129px;
  left: 0;
  width: 1886px;
}
.openart-image-4yedrte1-1722126-icon {
  position: absolute;
  top: 0;
  left: 271px;
  width: 775px;
  height: 775px;
  object-fit: cover;
}
.frame53 {
  position: absolute;
  top: 289px;
  left: 0;
  width: 1046px;
  height: 775px;
  overflow: hidden;
}
.openart-image-a2jt-m0f-1722126-icon1 {
  position: absolute;
  top: 0;
  left: 13px;
  width: 584px;
  height: 584px;
  object-fit: cover;
}
.frame54 {
  position: absolute;
  top: 242px;
  left: 0;
  width: 597px;
  height: 584px;
  overflow: hidden;
}
.openart-image-bjm3gheu-1722126-icon {
  position: absolute;
  top: 0;
  left: 703px;
  width: 483px;
  height: 484px;
  object-fit: cover;
}
.frame50,
.frame55 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1186px;
  height: 484px;
  overflow: hidden;
}
.frame50 {
  top: 1144px;
  left: -13px;
  width: 1886px;
  height: 1844px;
}
.openart-image-idvll0hj-1722125-icon {
  position: absolute;
  top: 0;
  left: 1172px;
  width: 353px;
  height: 353px;
  object-fit: cover;
}
.frame57 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1525px;
  height: 353px;
  overflow: hidden;
}
.openart-image-h1ointgx-1722127-icon {
  position: absolute;
  top: 0;
  left: 1015px;
  width: 866px;
  height: 864px;
  object-fit: cover;
}
.frame56,
.frame58 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1881px;
  height: 864px;
  overflow: hidden;
}
.frame56 {
  top: 1468px;
  left: -13px;
}
.openart-image-cwdnewaa-1722125-icon {
  position: absolute;
  top: 0;
  left: 703px;
  width: 353px;
  height: 354px;
  object-fit: cover;
}
.frame60 {
  position: absolute;
  top: 377px;
  left: 0;
  width: 1056px;
  height: 354px;
  overflow: hidden;
}
.openart-image-80m2qa00-1722127-icon {
  position: absolute;
  top: 0;
  left: 13px;
  width: 801px;
  height: 799px;
  object-fit: cover;
}
.frame62 {
  position: absolute;
  top: 0;
  left: 0;
  width: 814px;
  height: 799px;
  overflow: hidden;
}
.openart-image-bfwztcam-1722127-icon {
  position: absolute;
  top: 0;
  left: 1172px;
  width: 618px;
  height: 711px;
  object-fit: cover;
}
.frame59,
.frame61,
.frame63 {
  position: absolute;
  top: 74px;
  left: 0;
  width: 1790px;
  height: 711px;
  overflow: hidden;
}
.frame59,
.frame61 {
  top: 0;
  height: 799px;
}
.frame59 {
  top: 2159px;
  left: -13px;
}
.home6,
.what-is-the6 {
  flex: 1;
  position: relative;
  line-height: 13px;
  font-weight: 500;
  transform: rotate(-180deg);
  cursor: pointer;
}
.what-is-the6 {
  transform: rotate(180deg);
}
.home-parent3 {
  position: absolute;
  top: 90px;
  left: calc(50% - 647.5px);
  width: 1295px;
  height: 31px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-136xl);
}
.div6 {
  width: 100%;
  position: relative;
  background: linear-gradient(red, red), red;
  height: 2988px;
  overflow-y: auto;
  text-align: center;
  font-size: var(--font-size-smi-8);
  color: var(--color-white);
  font-family: var(--font-jost);
}
